.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myTeam {
    width: 25%;
}

/* -- Navbar -- */

.header {
    display: flex;
    justify-content: center;
    padding: 2rem 4rem;
    width: 100%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    gap: 20px;
    max-width: 652px;
}

/* -- Table styling -- */
.table {
    width: 100%;
    border-collapse: collapse;
}

.tableRow {
    border: 1px solid black;
}

.tableHeading {
    padding: .5rem;
}

.tableData {
    text-align: center;
    padding: .5rem;
}

.tableRow:nth-child(even) {
    background-color: #e1e1e1;
}

.tableIcon {
    --icon-size: 25px;
    height: var(--icon-size);
    width: var(--icon-size);
}

.tableIcon:first-child {
    padding-right: 10px;
}

/* -- Search Bar -- */

.searchBar {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* -- Filter Button -- */

.dropdown {
    background-color: black;
}

.dropdownList {
    display: none;
    position: absolute;
}

.filterDropdown { 
    height: 35px;
    width: 100px;
    margin-right: 1rem;
    border-radius: 25px;
    padding-left: 10px;
}

.filterLabel {
    margin-right: 8px;
}

/* -- Draft Board -- */

.draftboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: 1px solid black;
    width: 100%;
    height: 100vh;
}