.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myTeam {
    width: 25%;
}

/* Navbar */

.header {
    display: flex;
    justify-content: center;
    padding: 2rem 4rem;
    width: 100%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    gap: 20px;
    max-width: 652px;
}

